header {
    & a {
        color: var(--text-color-primary);

        &:hover {
            color: var(--text-color-primary);
        }

        & mat-icon.mat-icon {
            padding: 0px 4px;
        }
    }
}
