main {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(17, 9, 61, 1) 80%), url('../../Dot Grid.png') center center / cover no-repeat;
    background-color: var(--background-color);
    background-size: 100% auto; // Add this line
    background-position: 0px 0px;
    background-repeat: no-repeat;

    & section {
        max-width: 1000px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        flex-direction: column;
        margin: 0px auto;
        padding: 150px 0px;
    }
}

@media (max-width: 768px) {
    main {
        padding: 0px 40px;
    }
}

@media (max-width: 450px) {
    main {
        // padding: 0px 24px;

        section {
            padding: 16px 0px;
        }
    }
}
