@import "../modules/theme";
@import '~@angular/material/theming';
@include mat-core();
@include angular-material-theme($shi-theme-light);

/* You can add global styles to this file, and also import other style files */
*, ::before, ::after {
    box-sizing: inherit;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-h2, .mat-title, .mat-typography h2 {
    padding: 0px;
    margin: 16px 0px;
}
