footer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: 64px;
    padding: 16px;
    background: var(--background-color);

    & a {
        color: var(--text-color-primary);
        padding: 16px;
        text-decoration: none;
        &:hover {
            color: var(--text-color-primary);
        }
    }
}
