section {
    max-width: 800px;
    min-height: 100vh;
    margin: 250px auto;

    h1 {
        font-size: 48px;
        font-weight: 600;
        line-height: 48px;
    }

    p.introduction {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }

    button {
        margin: 16px 0px;
    }
}