<div class="content">
    <section class="main-section">
        <h1 class="title">Frontend Engineer</h1>
        <p class="introduction">I like to craft top-notch websites and applications with great user experiences.</p>
        <a href="mailto:hinkhouse.samuel@gmail.com?subject=Hello!">
            <button>Contact Me</button>
        </a>
    </section>
    <section class="photo-section">
        <img src="../../../../../assets/shinkhouse-portrait.jpeg" />
    </section>
</div>
<!-- <shi-useful-link-bar></shi-useful-link-bar> -->
