<section>
    <h1 id="about">About Me</h1>
    <div>
        <p>
            Hello there! 🖐 My name is Samuel Hinkhouse & I'm a Software Developer living in Houston, Texas. My passion is creating
            impactful digital experiences that lead to solving real world problems.
        </p>
        <p>
            Shortly after graduating from Graceland University in April 2018, I joined the development team at Smith & Associates where I
            work on developing solutions for supply chain management software, customer relationship management software, and hard drive
            wiping software. I enjoy working on a variety of meanful and intriguing projects.
        </p>

        <p>Here are some technologies I've been working with recently:</p>
        <ul>
            <li *ngFor="let tech of technologies">
                <mat-icon>play_arrow</mat-icon>
                {{ tech }}
            </li>
        </ul>
    </div>
</section>
