<section>
    <h1 id="about">About Me</h1>
    <div>
        <p>
            Greetings! 🖐 I'm Samuel Hinkhouse, a dedicated Software Engineer currently residing in Houston, Texas. My professional journey
            is driven by a passion for creating digital experiences that not only solve real-world problems but also resonate with users on
            a personal level.
        </p>
        <p>
            Since completing my studies at Graceland University in April 2018, I've been an integral part of the development team at Smith &
            Associates. Here, my focus has been on innovating solutions in areas like supply chain management, customer relationship
            management, and data security through hard drive wiping software.
        </p>
        <p>
            As a leader of several key development projects, I've honed my skills in steering teams towards success. Recently, I've embraced
            the exciting role of leading our UX team, where I blend my technical expertise with a keen eye for design to craft user
            experiences that are both intuitive and visually compelling.
        </p>
        <p>Here are some technologies I've been working with recently:</p>
        <ul>
            <li *ngFor="let tech of technologies">
                <mat-icon>play_arrow</mat-icon>
                {{ tech }}
            </li>
        </ul>
    </div>
</section>
