div {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 48px;
    z-index: 10;

    &::after {
        content: '';
        display: block;
        width: 1px;
        height: 90px;
        background-color: var(--background-color);
        margin: 32px auto 0px auto;
    }

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;

        & a {
            mat-icon {
                margin: 0px;
            }
            color: var(--background-color);

            &:hover {
                color: var(--background-color);
            }

            & mat-icon.mat-icon {
                width: 24px;
                height: 24px;
                padding: 8px;
                transition: 0.2s;
                &:hover {
                    transform: translateY(-4px);
                }
                &.facebook:hover {
                    color: #1877f2;
                }
                &.twitter:hover {
                    color: #1877f2;
                }
                &.instagram:hover {
                    color: #c32aa3;
                }
                &.linkedin:hover {
                    color: #1877f2;
                }
                &.github:hover {
                    color: #211f1f;
                }
                &.codepen:hover {
                    color: #1e1f26;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    div {
        display: none;
    }
}
