header {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: 64px;

    mat-icon.portfolio-logo {
        margin: 0px 16px 0px 16px;
        width: 56px;
        height: 56px;
        color: var(--text-color-primary);
    }

    mat-icon {
        color: var(--text-color-primary);
    }

    h2.mat-title {
        margin: 0px;
        color: var(--text-color-primary);
    }

    & ul {
        list-style: none;
        padding: 0px;
        margin: 0px;

        & li {
            display: inline-block;
            padding: 8px;
            color: var(--text-color-primary);

            & div {
                cursor: pointer;
            }

            & a {
                color: var(--text-color-primary);
                text-decoration: none;

                &:hover {
                    color: var(--text-color-primary);
                }
            }
        }
    }

    button[mat-stroked-button] {
        margin-left: 8px;
        color: var(--text-color-primary);
    }

    .dark-mode-toggle {
        & .mat-icon {
            transform: rotate(135deg);
        }
    }
}

@media (max-width: 560px) {
    nav {
        display: none;
    }
}

@media (max-width: 450px) {
    header {
        padding: 0px 24px;

        mat-icon:first-of-type {
            margin: 0px -16px 0px -16px;
        }
    }
}
