<header [class.hide]="hideHeader" [class.primary]="doesHeaderHaveBackground()">
    <h2 class="mat-title"><span>//</span> Samuel Hinkhouse</h2>
    <div fxFlex></div>
    <nav>
        <ul>
            <li *ngFor="let navItem of navigation">
                <div (click)="scrollToHeader(navItem.link)">
                    {{ navItem.name }}
                </div>
            </li>
        </ul>
    </nav>
    <a href="https://resume.samuelhinkhouse.com/">
        <button>Resume</button>
    </a>
</header>
