header {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: 64px;

    mat-icon:first-of-type {
        padding: 0px 16px 0px 40px;
    }

    h2.mat-title {
        margin: 0px;
    }

    & ul {
        list-style: none;
        padding: 0px;
        margin: 0px;

        & li {
            display: inline-block;
            padding: 8px;

            & a {
                color: black;
                text-decoration: none;

                &:hover {
                    color: black
                }
            }
        }
    }

    button[mat-stroked-button] {
        margin-left: 8px;
    }
}