header {
    display: flex;
    box-sizing: border-box;
    padding: 48px 48px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    gap: 16px;
    height: 64px;
    position: fixed;
    top: 0px;
    transition:
        top 0.2s ease-in-out,
        background-color 0.2s ease-in-out;

    &.hide {
        top: -100px;
    }
    &.primary {
        background-color: var(--background-color);
    }

    mat-icon.portfolio-logo {
        margin: 0px 16px 0px 16px;
        width: 56px;
        height: 56px;
        color: var(--text-color-primary);
    }

    mat-icon {
        color: var(--text-color-primary);
    }

    h2 {
        color: var(--text-color-primary);
        & span {
            color: white;
        }
    }

    & ul {
        list-style: none;
        padding: 0px;
        margin: 0px;

        & li {
            display: inline-block;
            padding: 8px;
            color: var(--text-color-primary);

            & div {
                cursor: pointer;
            }

            & a {
                color: var(--text-color-primary);
                text-decoration: none;

                &:hover {
                    color: var(--text-color-primary);
                }
            }
        }
    }

    a {
        & button {
            color: var(--text-color-primary);
        }
    }
    button {
        padding: 8px 16px;
        cursor: pointer;
        transition: 0.2s;
        background: var(--background-color);
        &:hover {
            box-shadow: 4px 4px 0 0 var(--text-color-primary);
            transform: translate(-5px, -5px);
        }
    }
}

@media (max-width: 560px) {
    nav {
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        padding: 0px 16px;
        h2 {
            font-size: 1.15rem;
        }

        mat-icon:first-of-type {
            margin: 0px -16px 0px -16px;
        }
    }
}
