<header>
    <mat-icon class="portfolio-logo" svgIcon="portfolio-logo"></mat-icon>
    <!-- <h2 class="mat-title">Samuel Hinkhouse</h2> -->
    <div fxFlex></div>
    <nav>
        <ul>
            <li *ngFor="let navItem of navigation">
                <div (click)="scrollToHeader(navItem.link)">
                    {{ navItem.name }}
                </div>
            </li>
        </ul>
    </nav>
    <!-- <button mat-stroked-button>Resume</button> -->
    <button (click)="toggleDarkMode()" class="dark-mode-toggle" mat-icon-button [matTooltip]="getDarkModeButtonTooltip()">
        <mat-icon>{{getDarkModeIcon()}}</mat-icon>
    </button>
</header>
