header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
section {
    h1 {
        color: var(--text-color-primary);
    }
    button {
        color: var(--text-color-primary);
        padding: 4px 4px;
        height: fit-content;
        mat-icon.mat-icon {
            fill: var(--text-color-primary);
        }
        mat-icon[ng-reflect-svg-icon] svg {
            width: 24px;
            height: 24px;
        }
        mat-icon[ng-reflect-svg-icon] svg {
            width: 24px;
        }
    }
    .projects {
        display: flex;
        flex-direction: column;
    }

    .projects-table {
        color: white;
        & table {
            width: 100%;

            th {
                text-align: left;
            }
            th, td {
                padding: 4px 8px;
            }
        }
    }
}

@media (max-width: 1070px) {
    .projects-table {
        .column-description {
            display: none;
        }
    }
}
